<!-- _footer.html -->
<footer>
<hr>
  <div class="copyright">
    <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Mount_Sinai_Health_System_logo.svg" />
    <br><br>

    <a href="https://icahn.mssm.edu/">
      Icahn School of Medicine at Mount Sinai</a><br>
    <a href="https://icahn.mssm.edu/about/departments/emergency-medicine">
      Mount Sinai | Department of Emergency Medicine</a><br>
    <a href="https://icahn.mssm.edu/research/institute-health-equity-research">
      Mount Sinai | Institute for Health Equity Research</a> 
      
  </div>
</footer>