{% extends '_base.html' %}
{% block title %}Contact{% endblock %}
{% block body %}
<div class="row">
  <div class="col-12 text-center">
    <h1>Contact</h1><br><br><br>
    <p>Please fill out the following Mount Sinai | Emergency Medicine - Analytic Support Request form.</p>

    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSfbFi3AMU91lGLYSvgtdYLv2YCzlJGr2aMDn82iQWTP8ScQIw/viewform?embedded=true"
      width="640" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </div>
</div>
{% endblock %}