{% extends '_base.html' %}
{% block title %}Data{% endblock %}
{% block body %}
<div class="row">
  <div class="col-12 text-center">
    <h1>Data</h1>
    <p>Data page information coming soon.</p>

    <h2>FEMA Data</h2>
    <ul class="no-bullets">
      <li>
        <a href='https://mountsinaigeospatial.github.io/data/fema/disaster_declarations_summaries_all_years/'>https://mountsinaigeospatial.github.io/data/fema/disaster_declarations_summaries_all_years/</a>
      </li>
      <li>
        <a
          href='https://mountsinaigeospatial.github.io/data/fema/disaster_declarations_summaries_by_decade/'>https://mountsinaigeospatial.github.io/data/fema/disaster_declarations_summaries_by_decade/</a>
      </li>
      <li>
        <a
          href='https://mountsinaigeospatial.github.io/data/fema/disaster_declarations_summaries_by_year/'>https://mountsinaigeospatial.github.io/data/fema/disaster_declarations_summaries_by_year/</a>
      </li>
      <li>
        <a
          href='https://mountsinaigeospatial.github.io/data/fema/web_declaration_areas_all_years/'>https://mountsinaigeospatial.github.io/data/fema/web_declaration_areas_all_years/</a>
      </li>
      <li>
        <a
          href='https://mountsinaigeospatial.github.io/data/fema/web_declaration_areas_by_decade/'>https://mountsinaigeospatial.github.io/data/fema/web_declaration_areas_by_decade/</a>
      </li>
      <li>
        <a
          href='https://mountsinaigeospatial.github.io/data/fema/web_declaration_areas_by_year/'>https://mountsinaigeospatial.github.io/data/fema/web_declaration_areas_by_year/</a>
      </li>
      
    </ul>
  </div>
</div>
{% endblock %}