{% extends '_base.html' %}
{% block title %}Data{% endblock %}
{% block body %}
<div class="row">
  <div class="col-12 text-center">
    <br><br>

    <h2>FEMA Data</h2>
    <ul class="no-bullets">
      <li>
        <a href='https://mountsinaigeospatial.github.io/data/fema/disaster_declarations_summaries_all_years/'>https://mountsinaigeospatial.github.io/data/fema/disaster_declarations_summaries_all_years/</a>
      </li>
      <li>
        <a
          href='https://mountsinaigeospatial.github.io/data/fema/disaster_declarations_summaries_by_decade/'>https://mountsinaigeospatial.github.io/data/fema/disaster_declarations_summaries_by_decade/</a>
      </li>
      <li>
        <a
          href='https://mountsinaigeospatial.github.io/data/fema/disaster_declarations_summaries_by_year/'>https://mountsinaigeospatial.github.io/data/fema/disaster_declarations_summaries_by_year/</a>
      </li>
      <li>
        <a
          href='https://mountsinaigeospatial.github.io/data/fema/web_declaration_areas_all_years/'>https://mountsinaigeospatial.github.io/data/fema/web_declaration_areas_all_years/</a>
      </li>
      <li>
        <a
          href='https://mountsinaigeospatial.github.io/data/fema/web_declaration_areas_by_decade/'>https://mountsinaigeospatial.github.io/data/fema/web_declaration_areas_by_decade/</a>
      </li>
      <li>
        <a
          href='https://mountsinaigeospatial.github.io/data/fema/web_declaration_areas_by_year/'>https://mountsinaigeospatial.github.io/data/fema/web_declaration_areas_by_year/</a>
      </li>
    </ul>

    <h2>Veterans Affairs</h2>
    <a href='https://mountsinaigeospatial.carto.com/builder/f6544b15-90a5-4026-bf5a-f8a75d7bb1f0/embed'>
    Veterans Affairs Carto Map</a>
    
    <h2>Covid Staffing</h2>
    <a href='https://mountsinaigeospatial.carto.com/builder/f3a8e4a7-5b05-4678-b595-504a6b25a4c2/embed'>
    Covid Staffing Maps</a>



  </div>
</div>
{% endblock %}