{% extends '_base.html' %}
{% block title %}Data{% endblock %}
{% block body %}
<div class="row">
  <div class="col-12 text-center">
    <br><br>

    <h2>FEMA Data</h2>
    <ul class="no-bullets">
      <li>
        <a href='https://mountsinaigeospatial.github.io/data/fema/disaster_declarations_summaries_all_years/'>
          FEMA Disaster Declarations Summaries - All Years</a>
      </li>
      <li>
        <a
          href='https://mountsinaigeospatial.github.io/data/fema/disaster_declarations_summaries_by_decade/'>
          FEMA Disaster Declarations Summaries - by Decade</a>
      </li>
      <li>
        <a
          href='https://mountsinaigeospatial.github.io/data/fema/disaster_declarations_summaries_by_year/'>
          FEMA Disaster Declarations Summaries - by Year</a>
      </li>
      <li>
        <a
          href='https://mountsinaigeospatial.github.io/data/fema/web_declaration_areas_all_years/'>
          FEMA Web Declaration Areas - All Years</a>
      </li>
      <li>
        <a
          href='https://mountsinaigeospatial.github.io/data/fema/web_declaration_areas_by_decade/'>
          FEMA Web Declaration Areas - by Decade</a>
      </li>
      <li>
        <a
          href='https://mountsinaigeospatial.github.io/data/fema/web_declaration_areas_by_year/'>FEMA Web Declaration Areas - by Year</a>
      </li>
    </ul>
    <br>

    <h2>Veterans Affairs</h2>
    <a href='https://mountsinaigeospatial.carto.com/builder/0f31c1c5-dd84-429a-a9a1-c99da968a027/embed'>
    Veterans Affairs Carto Map</a>
    <br><br>
    
    <h2>Covid Staffing</h2>
    <a href='https://mountsinaigeospatial.carto.com/builder/f3a8e4a7-5b05-4678-b595-504a6b25a4c2/embed'>
    Covid Staffing Carto Map</a>
    <br><br>



  </div>
</div>
{% endblock %}