{% extends '_base.html' %}
{% block title %}Home{% endblock %}
{% block body %}

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>



<div class="hero">
  <div class="hero-inner">
    <h1>Geospatial | Mount Sinai </h1>
    <input type="text" placeholder=" Search" class="form-control">
  </div>
</div>

<div class="row">
  <div class="col-12 text-center">
    <!-- <p><i>Neighborhood Geography Example</i></p> -->

    <img src="../img/enrichment.png" class="center" />
    <br>
    <!-- 
      
      ADD AUTOMATED SLIDESHOW
      https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_slideshow_rr

    </ul> -->
  </div>
</div>



{% endblock %}